# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic data / System files
.DS_Store
Thumbs.db

# Dependencies
node_modules/
.pnpm-store/

# Production / Build output
dist/
dist-zip/
build/

# Local Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor / IDE settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary / Cache directories
.eslintcache
.vite/
.cache/
